<%- include('./partials/header.ejs', {title:'Carrito'}) %>

    <main class="main-carrito">
        <header>
            <h2>Carrito</h2>
        </header>
        <section class="content-carrito">
            <h2>Productos</h2>
            <article class="carrito-juegos">
                <p class="cantidad-juegos">No ha agregado nada al carrito.</p>
            </article>
            <h3>Total: <span id="cantidad-pagar">0</span> COP</h3>
            <a href="#" id="pagar">Pagar</a>
        </section>
    </main>

    <script src="/Resource/js/cargarCarritoPag.js"></script>
<%- include('./partials/footer.ejs')  %> 
