<%- include('./partials/header.ejs',{title:'Consolas'}) %> 
        <main class="main-consolas">
            <h2>Juegos para Consolas</h2>
                <section class="menu-clasificacion">
                    <ul class="menu-ul">
                        <li class="li-clasificacion">
                            <select class="select-clasificacion" id="select-categoria">
                                <option value="0" class="">Categoria</option>
                            </select>
                        </li>
                        <li class="li-clasificacion">
                            <select class="select-clasificacion" id="select-consola">
                                <option value="0">Consola</option>

                            </select>
                            
                        </li>
                        <li class="li-clasificacion">
                            <select class="select-clasificacion" id="select-precio">
                                <option value="0" class="li-precio" id="precio">Precio</option>
                                <option value="bajo" class="li-precio" id="bajo">Menos de 100000 COP</option>
                                <option value="medio_bajo" class="li-precio" id="medio_bajo">Entre 100000 COP y 25000 COP</option>
                                <option value="medio_alto" class="li-precio" id="medio_alto">Entre 250000 COP y 400000 COP</option>
                                <option value="alto" class="li-precio" id="alto">Mas de 400000 COP</option>                                  
                            </select>
                        </li>
                    </ul>
                </section>
                <section class="juegos-consolas j-c" id="content-agregar-carrito">
                    
                </section>
            </main>
        <script src="/Resource/js/cargarJuegosC.js"></script>
<%- include('./partials/footer.ejs')  %> 