<%- include('./partials/header.ejs', {title:'Informacion'}) %> 
        <main class="infoJ">
            <section class="info-j" id="content-agregar-carrito">
                
            </section>
            <section class="info-ad">
                <h2>Mas Juegos</h2>
                <article class="main-ventas mv2">
                    <button class="boton-main btn-izq-2" onclick="mover_izq(seccion_2, btn_izq2, btn_der2)"><i class="fa-solid fa-angle-left"></i></button>
                    
                    <button class="boton-main btn-der-2 btn-fin-2" onclick="mover_der(seccion_2, btn_der2, btn_izq2)"><i class="fa-solid fa-angle-right"></i></button>
                </article>
            </section>
            </main>
        <script src="/Resource/js/cargarInfoJuego.js"></script>
<%- include('./partials/footer.ejs') %>