<%- include('./partials/header.ejs',{title:'Acerca de Nosotros'}) %> 

    <div class="main-info">
        <div class="info">
            <h2>Quienes Somos</h2>
            <p>
                Nosotros somos estudiantes del Colegio Laura Vicuña de Armenia, Quindio, del grado 11 y somos Andriy Alexander Bolivar Ruiz, Santiago Suarez Giraldo, Pablo Cesar Cruz Leon y Tito Samuel Mendez Orjuela. 
                
                Nuestra empresa se fundó el 19 de agosto del 2021; surgió a partir de la idea de querer crear un videojuego, pero a medida de que paso el tiempo se fue notando los requisitos necesarios para cumplir esta hazaña, entonces se decidió primero adentrarse en la industria de videojuegos a través de la venta de estos.
            </p>
        </div>
        <div class="info">
            <h2>Mision</h2>
            <p>Dar una gran seguridad y calidad en los videojuegos que brindamos al usuario para que así no tenga que preocuparse por lo que pueda pasar con el producto, cumpliremos con las expectativas de cada persona incitando así a difundir nuestra gran plataforma. </p>
        </div>
        <div class="info">
            <h2>Vision</h2>
            <p>Ser una gran compañía de videojuegos online ampliando nuestro sistema, usando carritos de compra a través de API y así llegar a nuestro propósito que es ser una compañía  asequible al usuario.
            </p>
        </div>
    </div>

<%- include('./partials/footer.ejs') %> 