<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Resource/css/style.css">
    <title>Iniciar Sesion</title>
</head>
<body>
    <div class="cuenta">
       <div class="login">
            <div class="iniciar-sesion" id="login">
                <h1>Iniciar Sesion</h1>
                <form action="">
                    <label for="email">Correo electronico</label>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <label for="password">Contraseña</label>
                    <input type="password" placeholder="Contraseña" name="password" id="password" required>
                    <input type="button" value="Enviar" id="btn-login">
                </form>
                <a href="register" id="redirect-reg-log">No tiene cuenta, registrese.</a>
            </div>
       </div> 
    </div>

    <script src="/Resource/js/login.js"></script>
</body>
</html>