



<footer>
    <p>Galactyc Games s.a.s. Todos los derechos reservados.</p>
    <ul class="redes">
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
        <li><a href="https://www.twitter.com/">Twitter</a></li>
        <li><a href="https://www.github.com/">Git Hub</a></li>
    </ul>
</footer>
<script src="Resource/js/script.js"></script>
</body>
</html>