<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/Resource/css/style.css">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Resource/css/all.css">
        <title><%= title %></title>
    </head>
    <body>
        <header class="head">
            <h1 id="titulo_pagina"><a href="/">Galactyc Games</a></h1>
            <nav class="menu">
                <a href="/">Inicio</a>
                <a href="/pc">PC</a>
                <a href="/consolas">Consolas</a>
                <a href="/info">Sobre nosotros</a>
                <% if (userActive == false) { %>
                    <a class="Login" href="/login">Iniciar Sesion</a>
                <% } else { %>
                    <a href="/user" class="userNav" id="<%= user.user_id%>"><%= user.usuario%></a>
                    <a class="btn-carrito" href="/carrito">Carrito <span id="carrito" class="carritoCant">0</span>
                        <div class="carrito-content">
                            <h2>Carrito</h2>
                            <div class="productos-carrito">
                            </div>
                            <button id="vaciar-carrito">Vaciar Carrito</button>
                        </div>
                    </a>
                    
                <% } %>
                
            </nav>
        </header>