<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/Resource/css/style.css">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/Resource/css/all.css">
        <title><%= title %></title>
    </head>
    <body>
        <header class="head">
            <h1><a href="/">Galactyc Games</a></h1>
            <a href="/"><img src="/Resource/img/logo.png" alt="Logo-steam"></a>
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/pc">PC</a></li>
                <li><a href="/consolas">Consolas</a></li>
                <li><a href="/info">Sobre nosotros</a></li>
                <% if (userActive == false) { %>
                    <li class="Login"><a href="/login">Iniciar Sesion</a></li>
                <% } else { %>
                    <li><a href="/user" class="userNav" id="<%= user.user_id%>"><%= user.usuario%></a></li>
                    <li class="btn-carrito">
                        <a href="/carrito" >Carrito (<span id="carrito">0</span>)</a>
                        <div class="carrito-content">
                            <h2>Carrito</h2>
                            <div class="productos-carrito">
                            </div>
                            <button id="vaciar-carrito">Vaciar Carrito</button>
                        </div>
                    </li>
                <% } %>
                
            </ul>
        </header>